# Assignment 1

Question 1

In [170]:
from collections import Counter

input_list = [(1,2,3),(3,4),(1,2,3),(3,3,1),(4,4)]
Counter(input_list)

Counter({(1, 2, 3): 2, (3, 4): 1, (3, 3, 1): 1, (4, 4): 1})

Question 2

In [2]:
class BST:
    def __init__(self,data):
        self.key = data
        self.left=None
        self.right=None
        
def create(input_list):
    if not input_list:
        return
    mid = int(len(input_list)/2)
    root = BST(input_list[mid])
    root.left = create(input_list[:mid])
    root.right = create(input_list[mid+1:])
    return root

def traverse(root):
    if root is None:
        return
    print(root.key,end=" ")
    traverse(root.left)
    traverse(root.right)
            
import random
input_list = random.sample(range(1,100),10)
input_list.sort()
root = create(input_list)
traverse(root)

66 9 6 5 38 30 82 80 76 92

Question 3

In [43]:
input_dict = {'black' :'r','hero':'e','go':'g','clue':'i','mean':'q','groan':'o','sin':'p','pint':'u','tone':'n','graze':'s','sea':'t','plant':'a'}

key_list = input_dict.keys()

flag = []
for x in key_list:
    for i in x:
        if i not in input_dict.values():
            flag.append(x)
            break
            
print([x for x in key_list if x not in flag])

['go', 'groan', 'sin', 'pint', 'tone', 'sea']

Question 4

In [168]:
listA = [(1,2), (4,3), (2,10), (12, 5), (6, 7), (9,11), (15, 4)]
listA.sort(key= lambda x: x [0])
print("List sorted in ascending order by the first element:",listA)
listA.sort(key= lambda x: x [1])
print("List sorted in ascending order by the second element:",listA)
listA.sort(reverse = True,key= lambda x: x [0])
print("List sorted in descending order by the first element:",listA)
listA.sort(reverse = True,key= lambda x: x [1])
print("List sorted in ascending order by the second element:",listA)

List sorted in ascending order by the first element: [(1, 2), (2, 10), (4, 3), (6, 7), (9, 11), (12, 5), (15, 4)]
List sorted in ascending order by the second element: [(1, 2), (4, 3), (15, 4), (12, 5), (6, 7), (2, 10), (9, 11)]
List sorted in descending order by the first element: [(15, 4), (12, 5), (9, 11), (6, 7), (4, 3), (2, 10), (1, 2)]
List sorted in ascending order by the second element: [(9, 11), (2, 10), (6, 7), (12, 5), (15, 4), (4, 3), (1, 2)]

Question 5

Immutable objects are those which cannot be changed once created, that is, the size of the object as well as values assigned to them cannot be modified. Strings and Tuples are immutable objects.
Mutable objects allow modifications of their size and values after creation. Lists and Dictionaries are mutable objects

Question 6

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('banking.csv')

In [16]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,53,technician,married,unknown,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8,0
2,28,management,single,university.degree,no,yes,no,cellular,jun,thu,...,3,6,2,success,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,services,married,high.school,no,no,no,cellular,apr,fri,...,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,0
4,55,retired,married,basic.4y,no,yes,no,cellular,aug,fri,...,1,3,1,success,-2.9,92.201,-31.4,0.869,5076.2,1

Question 6.1

In [8]:
df['education'].unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

Question 6.2

In [9]:
df['y'].value_counts()

0    36548
1     4640
Name: y, dtype: int64

Question 6.3

In [14]:
df.groupby('y').mean()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
y,,,,,,,,,,
0,39.911185,220.844807,2.633085,984.113878,0.132374,0.248875,93.603757,-40.593097,3.811491,5176.166600
1,40.913147,553.191164,2.051724,792.035560,0.492672,-1.233448,93.354386,-39.789784,2.123135,5095.115991

Question 6.4

In [173]:
df.groupby('marital')['age'].mean()

marital
divorced    44.899393
married     42.307165
single      33.158714
unknown     40.275000
Name: age, dtype: float64

Question 6.5

In [174]:
null_values = df.isnull().sum()
print(null_values)

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

Question 6.6

In [12]:
df.describe()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911,0.112654
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528,0.316173
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

Question 6.7

In [100]:
df.loc[df['job']=='unemployed','y'].value_counts()

0    870
1    144
Name: y, dtype: int64

In [114]:
df.loc[df['pdays']!=999,'y'].value_counts()

1    967
0    548
Name: y, dtype: int64

In [144]:
df.query("job=='retired'")['age'].unique()

array([55, 72, 56, 68, 63, 58, 60, 48, 64, 52, 59, 74, 57, 80, 40, 61, 50,
       62, 75, 82, 77, 53, 70, 76, 73, 71, 66, 79, 88, 51, 65, 54, 45, 67,
       81, 84, 69, 98, 35, 38, 85, 83, 78, 30, 92, 47, 32, 37, 49, 36, 43,
       33, 39, 27, 44, 41, 42, 86, 94, 29, 46, 91, 89, 87, 26, 95, 23],
      dtype=int64)

In [161]:
df.query("poutcome == 'success'")['job'].value_counts()

admin.           428
technician       211
retired          158
blue-collar      119
student          118
management        95
services          70
unemployed        62
housemaid         38
self-employed     30
entrepreneur      25
unknown           19
Name: job, dtype: int64

In [167]:
df.query("default=='yes' and poutcome=='success'")

Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, duration, campaign, pdays, previous, poutcome, emp_var_rate, cons_price_idx, cons_conf_idx, euribor3m, nr_employed, y]
Index: []

[0 rows x 21 columns]